.text-toggle[aria-expanded=false] .text-expanded {
    display: none;
}

.text-toggle[aria-expanded=true] .text-collapsed {
    display: none;
}

.text-toggle[aria-expanded=false] .collapse-icon::before {
    transform: rotate(180deg);
}

.collapse-icon::before {
    transition: 0.5s ease;
}

.text-toggle {
    text-decoration: none !important;
}

.footer {
    background-color: #ffffffbb;
}

.ql-container {
    font-family: inherit !important;
    font-size: inherit !important;
}

@media (min-width: 1200px) {
    .w-xl-20 {
        max-width: 20%;
    }
}

.table th,
.table td {
    padding: .75rem;
}

.important-danger {
    border: 1px solid rgba(var(--bs-danger-rgb)) !important;
    background-color: rgba(var(--bs-danger-rgb), 0.1) !important;
}