.text-toggle[aria-expanded=false] .text-expanded {
    display: none;
}

.text-toggle[aria-expanded=true] .text-collapsed {
    display: none;
}

.footer {
    background-color: #ffffffbb;
}

.ql-container {
    font-family: inherit !important;
    font-size: inherit !important;
}

@media (min-width: 1200px) {
    .w-xl-20 {
        max-width: 20%;
    }
}