Options -Indexes
<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|swp)|~)$">
    Require all denied
</FilesMatch>
<Files .gitignore>
    Require all denied
</Files>
<Files config.php>
    Require all denied
</Files>
RedirectMatch 404 /\..*$